[package]
name = "tw_lint"
version.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
license.workspace = true
edition.workspace = true

[dependencies]
once_cell.workspace = true

[dev-dependencies]

[lints]
workspace = true
