[package]
name = "some-services"
version.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
license.workspace = true
edition.workspace = true

[dependencies]
axum.workspace = true
thiserror.workspace = true

[lints]
workspace = true
