name: Release Publish
on:
  release:
    types: [published]
jobs:
  build-all:
    uses: ./.github/workflows/build-image.yml
    with:
      matrix: |
        [
          {
            "name":"file_host",
            "dockerfile":"./infra/docker/Dockerfile.server",
            "repo_suffix":"server",
            "needs_sqlx":true,
            "needs_migrations":true,
            "migration_paths":["apps/servers/file_host/migrations"]
          },
          {
            "name":"some-obs",
            "dockerfile":"./infra/docker/Dockerfile.obs",
            "repo_suffix":"obs",
            "needs_sqlx":false,
            "needs_migrations":false
          },
          {
            "name":"orchestrator",
            "dockerfile":"./infra/docker/Dockerfile.orchestrator",
            "repo_suffix":"orchestrator",
            "needs_sqlx":false,
            "needs_migrations":false
          }
        ]
    secrets: inherit
